$primary: #3A5297;
$danger: #cd201f;

@import "scss/glossary-modal";
@import "scss/tabler";
@import "scss/tabler-buttons";
@import "scss/tabler-flags";
@import "scss/tabler-payments";
@import "scss/loading";
@import "scss/custom";
@import "scss/not-found";
@import "scss/kurento";
@import "scss/public-header";
@import "scss/inbox-chat";
@import "scss/record-pulse";
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    text-overflow: ellipsis;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

html {
    height: 100%;
    width: 100%;
    font-size: 16px;

}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#root {
    height: 100%;
    width: 100%;
}